 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
}
    
    .nav {
    /* width: 100%;*/
     position:fixed;
      max-width: 600px;
      min-width: 100%;
      margin: auto;
      padding: 90px auto;
      text-align: center;

        background-color: #001925;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }

    .nav-list {
        display: flex;
        list-style: none;
        gap: 30px;
        margin: 0;
        padding: 0;
    }
    
    .nav-link {
        color: #87a4b6;
        text-decoration: none;
        font-weight: bold;
        padding: 10px 15px;
        transition: color 0.3s, background-color 0.3s;
        border-radius: 5px;
    }
    
    .nav-link:hover {
        background-color: #06651c;
        color: #001925;
    }
    
    .nav-link.active {
        background-color: #074d0c;
        color: #fff;
    }
    
    /* Responsividad */
    @media (max-width: 768px) {
      .nav {
          flex-direction: column;
      }
      
      .nav-list {
          flex-direction: column;
          gap: 15px;
      }
  
      .nav-link {
          text-align: center;
          width: 100%;
      }
  }
    .botonesDeco{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      font-size: 5px;
      
    }
.html{font-size: 18px;
  background-color: #b34902;
  border: none;
  border-radius: 5px;
}
.css{
  font-size: 18px;
  background-color: #0274b3;
  border: none;
  border-radius: 5px;
}
.js{
  font-size: 18px;
  background-color: #f2d814;
  border: none;
  border-radius: 5px;
}
.react{
  font-size: 18px;
  background-color: #11495a;
  border: none;
  border-radius: 5px;
}
.angular{
  font-size: 18px;
  background-color: #d40df3;
  border: none;
  border-radius: 5px;
}
.node{
  font-size: 18px;
  background-color: #03a92a;
  border: none;
  border-radius: 5px;
}
.bootstrap{
  font-size: 18px;
  background-color: #69516c;
  border: none;
  border-radius: 5px;
}

  .botonCV{
      display: flex;
      justify-content: center;

    }
.botonCV a{
  
  background-color: #238e2f;
  border-radius: 34px ;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  margin: 35px;
  border-color: #11a433;
}

.FyL{   
  display: flex; 
  justify-content: center; 
  padding: 20px;
  
 
  
}
.fyll{
  display: flex;
   flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
   
}
.pafyl{
  font-family: Georgia, 'Times New Roman', Times, serif;
color: #41a121;
font-size: 18px;
}


.copi{
    color: #525252;
}

.contenedor{
  padding-top: 155px;
}
.imagen{
    border-radius: 40%;
    margin-left: 25%;
}

 body{
    background-color: #013747;
    display: grid;
 }
  
  /* tarjeta presentacion */
  
  .part1 {
    position: relative;
    color: rgb(61, 110, 62);
    height: auto; /* Cambia la altura para ajustarse al contenido dinámico */
    min-height: 700px; /* Mantiene un mínimo de 700px, si es necesario */
    background: #0c121e;
    border-radius: 14px;
    padding: 2px; /* Añade un padding para evitar que el contenido quede pegado a los bordes */
    box-sizing: border-box; /* Asegura que el padding y el borde no desborden el contenido */
    overflow: hidden; /* Evita el desbordamiento del contenido */
}

@media (max-width: 400px) {
    .part1 {
      
        padding: 15px; /* Ajusta el padding en pantallas pequeñas */
        min-height: auto; /* Permite que la altura mínima se ajuste en pantallas pequeñas */
    }
}

  
  .bg {
    position: absolute;
    z-index: -1;
    inset: -4px;
    border-radius: 16px;
    overflow: hidden;
  }
  
  .uwu {
    filter: blur(8px);
    transition: filter 0.3s;
  }
  
  
  
  .contentt {
    position: relative;
    padding: 24px 26px;
  }
  
  .img {
    z-index: 1; /* Asegura que no se sobreponga en otros elementos */
    height: 13em;
    width: 13em;
    margin: auto;
    background-color: #fff3;
    border-radius: 3em;
    max-width: 100%;
    object-fit: cover;
  }
  
  .img svg {
    z-index: 1; /* Asegura que no se sobreponga en otros elementos */
    height: auto;
    fill: white;
    max-width: 100%;
    object-fit: cover;
  }
  
  .content div {
    text-align: center;
  }
  
  .h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 2em;
    font-weight: 600;
  }
  
  .p {
    font-size: 1.2em;
  }
  
  .p p {
    margin-top: 0.5em;
    padding: 0.5em;
    background-color: #0003;
    border-radius: 1em;
  }

  




.cards{
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  
}
.cards img{
  border-radius: 30px;
  max-width: 100%; /* La imagen no excederá el ancho de su contenedor */
    height: auto; /* Mantiene las proporciones de la imagen */
    display: block; /* Evita el espacio en blanco alrededor de imágenes inline */
    object-fit: cover; /* Asegura que la imagen se ajuste bien si tiene un tamaño de contenedor específico */
}




  .card1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.75rem;
    background-color: rgb(146, 175, 146);
    width: 300px;
    height: 375px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),
    0 2px 4px -2px rgba(0,0,0,.1);
    margin: 20px;
  }
  
  .header {
    position: relative;
    background-clip: border-box;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    
    border-radius: 1.75rem;
    background-color: rgb(86, 108, 94);
    box-shadow: 0 10px 15px -3px rgba(0, 3, 1, 0.4),0 4px 6px -4px rgba(2, 6, 3, 0.4);
    height: 180px;
  }
  
  .info {
    border: none;
    padding: 0.1rem;
    text-align: center;
  }
  
  .titlecard {
    color: rgb(38 50 56);
    letter-spacing: 0;
    line-height: 1.375;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .footercard {
   padding: 0.75rem;
    border: 2px solid rgb(10, 76, 20);
    margin: 10px
    ;display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 76, 46, 0.32);
  border-radius: 20px;
  }
  
  .tag {
    font-weight: 300;
    font-size: .75rem;
    display: flex;
    ;
  }
  
  .action {
    background-color: transparent;
    border: transparent;
  }
   .action a{
    text-decoration:none ;
    color: #013747;
    -webkit-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    
    color: rgb(255 255 255);
    text-transform: uppercase;
    
    font-size: .75rem;
    padding: 0.75rem 1.5rem;
    background-color: rgba(28, 112, 38, 0.622);
    border-radius: 0.5rem;
   }



.footer {
    width: 100%;
    height: 100%;
    max-width: 600px;
    min-width: 300px;
    margin:  30px auto;
    padding: 90px auto;
    text-align: center;
}

.icon-content {
    display: inline-block;
    margin: 0 10px;
}

.icon-content svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}


/* contacto footer*/ 
.contacto {
  position: fixed; /* Fija el footer al fondo de la pantalla */
  bottom: 0; /* Posición en la parte inferior */
  left: 0; /* Alinea el footer al borde izquierdo */
  width: 100%; /* Hace que el footer cubra todo el ancho de la pantalla */
  height: 75px; /* Altura del footer */
  background-color: #202020; /* Color de fondo del footer */
  color: white; /* Color del texto */
  display: flex; /* Usa Flexbox para centrar el contenido */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
}

  
  .contact-title {
    color: #8fb796;
    font-size: 2em;
    font-weight: 700;
    
    
  }
  .card-contact {
    color: #298821;
    font-size: 1.3em;
  }
  .icon-contact {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .icon-contact svg {
    display: block;
    height: 8px;
    width: 18px;
    fill: #5d6669;
    padding-right: 5px;
  }
  .card:hover {
    box-shadow: 0 10px 50px #23232333;
  }

  @media (max-width: 400px) {
    .contacto {
        height: 40px; /* Reduce la altura del footer en pantallas pequeñas */
        font-size: 14px; /* Reduce el tamaño de la fuente para mejorar la legibilidad */
        padding: 10px; /* Añade un poco de relleno para pantallas pequeñas */
    }

    
}
@media (max-width: 400px) {
  .contact-title {
    color: #8fb796;
    font-size: 2em;
    font-weight: 700;
    text-align: center; /* Centra el texto en pantallas pequeñas */
  }

  .card-contact {
    color: #298821;
    font-size: 1.3em;
    text-align: center; /* Centra el contenido de las tarjetas */
    margin-bottom: 20px; /* Añade espacio entre las tarjetas */
  }

  .icon-contact {
    list-style: none;
    display: flex;
    flex-direction: column; /* Cambia la disposición a columna */
    align-items: center; /* Centra los íconos horizontalmente */
    padding: 0;
  }

  .icon-contact svg {
    display: block;
    height: 18px; /* Ajusta el tamaño de los íconos para mejor visibilidad */
    width: 18px; /* Ajusta el tamaño de los íconos */
    fill: #5d6669;
    margin-bottom: 10px; /* Añade espacio entre los íconos */
  }

  .card:hover {
    box-shadow: 0 10px 50px #23232333;
    transition: all 0.3s ease; /* Añade una transición suave al hover */
  }
}

/* formulario*/ 

.form-container {
  display: flex;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    margin:   auto;
    
  background-color: #001925;
  padding: 31px;
  border-left: 5px solid #043b0e;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.heading {
  display: block;
  color: rgb(59, 151, 26);
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.form-container .form .input {
  color: #87a4b6;
  width: 100%;
  background-color: #002733;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
}

.form-container .form .input:focus {
  border-left: 5px solid #074d0c;
}

.form-container .form .textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #013747;
  color: #489b51;
  font-weight: bold;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .textarea:focus {
  border-left: 5px solid #04480e;
}

.form-container .form .button-container {
  display: flex;
  gap: 10px;
}

.form-container .form .button-container .send-button  {
  background-color: transparent;
 flex-basis: 70%;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out; 
  
}
.input-btn{
  padding: 10px;
  flex-basis: 100%;
  background: #06651c;
  color: #001925;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.input-btn:hover{
  background: transparent;
  border: 1px solid #053906;
  color: #07a12e;
}
.send-button input{
  color: #0b140d;
  background-color: #03a92a;
}

.form-container .form .button-container .send-button:hover {
  background: transparent;
  border: 1px solid #050a05;
  color: #09581d;
}

.form-container .form .button-container .reset-button-container {
  filter: drop-shadow(1px 1px 0px #035814);
  flex-basis: 30%;
}

.form-container .form .button-container .reset-button-container .reset-button {
  position: relative;
  text-align: center;
  padding: 10px;
  color: #045b0d;
  font-weight: bold;
  background: #001925;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .reset-button-container .reset-button:hover {
  background: #03570d;
  color: #001925;
}

/* Responsividad */
/* Ajuste para pantallas pequeñas (teléfonos chicos) */
@media (max-width: 480px) {
  .nav {
    flex-direction: column;
    /*padding: 5px;*/
    text-align: center;
  }

  .nav-list {
    flex-direction: column;
    gap: 5px;
    padding: 0;
  }

  .nav-link {
    font-size: 14px; /* Reducir el tamaño de la fuente */
    padding: 8px 10px;
    width: 100%;
  }

  .botonesDeco {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }

  /* Tarjetas */
  .card1 {
    width: 100%; /* Ajustar a toda la pantalla */
    height: auto; /* Permitir que la altura se ajuste */
    margin: 10px 0;
  }

  

  /* Formulario */
  .form-container {
    padding: 15px;
    width: 150%;
  }

  .form-container .input, 
  .form-container .textarea {
    font-size: 12px; /* Reducir el tamaño del texto */
    padding: 8px;
  }

  .send-button, 
  .reset-button {
    width: 100%;
    padding: 8px;
    font-size: 12px;
  }

  /* Footer */
  .footer {
    padding: 10px;
  }
 
  
}
@media (max-width: 480px) {
  .card1 {
      width: 90%; /* Ajuste al 90% del ancho de la pantalla */
      margin: 10px auto; /* Centrado con margen automático */
  }

  .header, .info {
      margin: 5px;
  }

  .titlecard {
      font-size: 1rem; /* Ajustar el tamaño del texto */
  }

  .footercard {
      padding: 15px;
      
  }
}
@media (max-width: 480px) {
  .form-container {
      padding: 10px;
  }

  .form-container .input, 
  .form-container .textarea {
      font-size: 12px; /* Reducir el tamaño del texto */
  }

  .send-button, .reset-button {
      font-size: 12px; /* Reducir el tamaño de los botones */
      padding: 8px;
  }
}
@media (max-width: 480px) {
  .example-2 .icon-content {
      margin: 5px auto;
      width: 50px;
      height: 50px;
  }

  .example-2 .icon-content a {
      width: 40px;
      height: 40px;
  }

  .example-2 .icon-content svg {
      width: 24px;
      height: 24px;
  }
}
@media (max-width: 480px) {
  .cards {
      flex-direction: column;
      align-items: center;
  }

  .card1 {
      width: 90%;
      margin: 10px 0;
  }
}


@media (max-width: 480px) {
  .nav-list {
      flex-direction: column;
      align-items: center;
      gap: 10px;
  }

  .nav-link {
      padding: 10px;
      font-size: 14px;
  }
}

  /*enlaces */
ul {
    list-style: none;
  }
  
  .example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled,
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
  }
  .example-2 .icon-content a[data-social="whatsapp"] .filled,
  .example-2 .icon-content a[data-social="Whatsapp"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #08b219,
      #03a92a,
      #2ab30f,
      #047031,
      #076a0c,
      #30a80f
    );
  }
  




  

